* {
    margin: 0;
    padding: 0;
}

:root {
    --dark: rgb(24, 24, 24); 
    --light: rgb(244, 235, 208);
    --p1: rgb(241, 227, 164);
    --p2: rgb(231, 205, 120);
    --gold: rgb(222, 182, 75);
    --font: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font);
  overflow-x: hidden;
}

#all-content {
    min-width: 1356px;
    max-width: 90vw;
    margin: auto;
  }

/*scroll bar start*/

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--gold);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--p1);
    border-radius: 10px;
  }
  
  /*scroll bar end*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Hearder and Navigation bar */

#nav-bar {
    width: 100%;
    height: 60px;
    background-color: var(--gold);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.466);
    z-index: 1;
}

.logo {
    color: var(--dark);
    margin-left: 30px;
    transition: 0.3s ease;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 a, .cart {
    text-decoration: none;
    color: var(--dark);
    margin-right: 25px;
    transition: 0.3s ease;
    font-size: 1rem;
}

h1 a:hover,
.cart:hover,
.logo:hover {
    color: var(--light);
}

.search {
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--p1);
    padding: 0 10px;
    outline: none;
    transition: 0.3s ease;
}

.search:hover {
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
background-color: var(--light);
}
/*spacer*/

#spacer {
    width: 100%;
    height: 80px;
}

#Form_Value_Con {
  width: 90%;
  margin: 2% auto;
}

#form_value {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#form_con {
  width: 70%;
  background-color: var(--gold);
  border-radius: 10px;
}

#form_con form {
  width: 99%;
  background-color: var(--p2);
  margin: 5px auto;
  padding: 3px 0;
  border-radius: 7px;
}

.collapse {
  pointer-events: none;
}

.collapse input,
.collapse select {
  background-color: var(--p1)
}

#form-billing-heading {
  font-size: 1.6rem;
  margin: 1%;
  font-weight: 600;
  color: rgba(41, 41, 41, 0.712);
}

.Address-con,
.Address-con-sep {
  width: 100%;
  display: flex;
  margin: 1%;
}

.Address-con label,
.Address-con-sep label {
  width: 100px;
  font-weight: 600;
  color: rgb(49, 49, 49);
}

.Address-con input {
  width: 80%;
  border: none;
  color: rgb(49, 49, 49);
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.Address-con-sep input {
  width: 31%;
  border: none;
  outline: none;
  padding: 10px;
  color: rgb(49, 49, 49);
  border-radius: 5px;
}

.Address-con-sep select {
  width: 33.1%;
  border: none;
  outline: none;
  padding: 10px;
  color: rgb(49, 49, 49);
  border-radius: 5px;
}

.Address-con-sep #city-name {
  margin-right: 4%;
}

.Add-con-1 {
  width: 50%;
}

.Address-con-note {
  display: block;
  width: 100%;
}

.Address-con-note label {
  width: 100%;
  display: block;
  margin: 1%;
  font-weight: 600;
  color: rgb(49, 49, 49);
}

.Address-con-note textarea {
  max-width: 95%;
  min-width: 95%;
  min-height: 50px;
  margin: 0 1%;
  border: none;
  outline: none;
  color: rgb(49, 49, 49);
  padding: 10px;
  border-radius: 5px;
}

#checkbox_form {
  font-size: 1rem;
  font-weight: 600;
  margin: 2% 1%;
}

#form-shipping-heading {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 1%;
  color: rgba(41, 41, 41, 0.712);
}

#btn_con {
  width: 100%;
  display: flex;
  justify-content: center;
}

#Add_com_btn {
  width: 30%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
  background-color: var(--light);
  color: var(--dark);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

#Add_com_btn:hover {
  background-color: rgba(255, 255, 255, 0.925);
}

#value_con {
  width: 25%;
  border-radius: 10px;
  height: fit-content;
  background-color: var(--gold);
  position: sticky;
  top: 99px;
}

#final_value {
  width: 94%;
  background-color: var(--p2);
  height: 100%;
  border-radius: 7px;
  margin: 5px auto;
  padding: 5px;
}

#final_value h1 {
  color:rgba(41, 41, 41, 0.712)
}

.cont_values_sep {
  display: flex;
  justify-content: space-between;
  color: rgb(41, 41, 41);
  font-size: 1rem;
  margin: 10px 0;
}

.payable {
  font-size: 1.6rem;
}

#coupon_inp {
  width: 55%;
  background-color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

#coupon_btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  width: 35%;
  background-color: var(--light);
  transition: 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
}

#coupon_btn:hover {
  background-color: white;
}

.divider {
  width: 90%;
  height: 2px;
  background-color: rgb(41, 41, 41);
  margin: 20px auto;
}

#payment_method {
  width: 100%;
  margin-top: 30px;
  background-color: var(--p2);
  border: 5px var(--gold) solid;
  border-radius: 10px;
  display: flex;
}

#pay_options {
  width: 30%;
  border-radius: 6px 0 0 6px;
  border: 2px solid var(--p1);
}

.Option_pay {
  width: 100%;
  height: 20%;
  text-align: center;
  border-bottom: 2px solid var(--p1);
  border-left: none;
  border-right: none;
  border-top: none;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  transition: 0.3s ease;
  padding: 10px;
}

.Option_pay:hover {
  background-color: rgba(255, 255, 255, 0.308);
}

.Option_pay:active {
  background-color: rgba(255, 255, 255, 0.548);
}

.Option_pay p {
  font-size: 0.8rem;
  font-weight: 100;
}

.Bottom_btn {
  border: none;
}

#options_entery {
  width: 70%;
  border-radius: 0 5px 5px 0;
  border: 2px solid var(--p1);
  border-left: none;
  display: flex;
  align-items: center;
  position: relative;
}

.collapse_pay {
  position: absolute;
  z-index: -1;
}

#upi_ent,
#wallet_int {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app_list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

.app_con {
  align-items: center;
  height: 8rem;
  width: 8rem;
  border: 0px solid black;
  padding: 3px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0px 0px var(--light) inset;
}

.app_con:hover {
  box-shadow: 0 0 50px 5px var(--light) inset;
}

.app_con:active {
  box-shadow: 0 0 100px 100px var(--light) inset;
}

.app_con img {
  width: 4rem;
  min-height: 4rem;
  object-fit: contain;
  transition: 0.3s ease;
}

.app_con:hover img {
  width: 4.5rem;
}

.app_con h1{
  color: var(--dark);
  font-size: 1rem;
  transition: 0.3s ease;
}

.app_con:hover h1 {
  font-size: 1.3rem;
}

#upi_int label {
  margin-right: 10px;
  font-weight: 600;
}

#upi_int {
  width: 80%;
}

.submit_btn {
  width: 80%;
  display: flex;
}

.input_pay input {
  background-color: white;
  border: none;
  outline: none;
  margin-top: 20px;
  width: 85%;
  padding: 10px;
  border-radius: 5px;
}

.submit_btn button {
  width: 50%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 10px auto ;
  background-color: var(--light);
  transition: 0.3s ease;
}

.submit_btn button:hover {
  background-color: rgb(255, 255, 255);
}

#card_ent {
  width: 100%;
  color: #000000b9;
  height: 100%;
  display: flex;
}

#payment-form{
  height: max-content;
  width: max-content;
  margin: auto;
}

.lab_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-logo {
  width: 75px;
  max-height: 28px;
  object-fit: scale-down;
}

.card_num_lab {
  font-size: 1rem;
  font-weight: 600;
}

.card_num_con {
  width: max-content;
  display: flex;
  align-items: center;
}

.int_logo {
  width: max-content;
  height: fit-content;
  background-color: white;
  padding-right: 20px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.card_num_int {
  width: max-content;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 20px;
}

.card_date_cvv_con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.card_date_cvv_con input {
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
  width: 130px;
  border: none;
  outline: none;
  text-align: center;
  margin-left: 10px;
}

.card_name_con {
  width: 100%;
  display: flex;
}

.card_name_int {
  border: none;
  outline: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
  width: 62.1%;
}

#CARD_ent_sbt_btn {
  width: 100%;
}

#netbanking_int {
  width: 90%;
  margin: auto;
}

.Bank_logo_con {
  width: 100%;
  display: flex;
  height: 80px;
  background-color: #2196F3;
}

.image-label {
  display: inline-block;
  cursor: pointer;
  margin-right: 10px;
}

.image-label img {
  width: 100%;
  object-fit: scale-down;
  height: 50px;
  padding: 5px;
  border: 2px solid var(--light);
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

#checkbox:checked + .image-label img {
  background-color: white;
}
#checkbox1:checked + .image-label img {
  background-color: white;
}
#checkbox2:checked + .image-label img {
  background-color: white;
}
#checkbox3:checked + .image-label img {
  background-color: white;
}
#checkbox4:checked + .image-label img {
  background-color: white;
}
#checkbox5:checked + .image-label img {
  background-color: white;
}
#checkbox6:checked + .image-label img {
  background-color: white;
}

#net_bank_list_con {
  display: inline;
}

#net_bank_list_con label {
  font-size: 1rem;
  font-weight: 600;
}

#net_bank_list_con select {
  font-size: 1rem;
  width: 79.1%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*pure cosmetics:*/
img {
  width: 150px;
  height: 150px;
}
label {
  margin: 10px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: var(--light);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




#newslater {
    width: 93.7%;
    padding: 2%;
    height: 150px;
    background-color: var(--gold);
    margin: auto;
    background-image: url(images/hero3.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 20px solid var(--gold);
    color: var(--light);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #heading-news {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  #newslater h1 {
    font-size: 2rem;
    width: 50%;
  }
  
  form {
    width: 40%;
    align-items: center;
  }
  
  #newslater label {
    width: 100%;
    display: block;
  }
  
  #newslater input {
    width: 80%;
    display: block;
    margin-bottom: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
  }
  
  #newslater button {
    width: 30%;
    padding: 1%;
    margin: 1% auto;
    border-radius: 5px;
    border: none;
    outline: none;
  }
  
  #footer-logo {
    margin-bottom: 30px;
  }
  
  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);
    background-color: var(--gold);
    padding: 2%;
    width: 96%;
    margin: auto;
    margin-bottom: 30px;
    height: 400px;
  }
  
  #footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  #footer h4 {
    font-size: 1.6rem;
    padding-bottom: 20px;
  }
  
  #footer p, a {
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  #footer .follow {
    margin-top: 20px;
  }
  
  #footer .follow i, a,
  #apps {
    color: var(--dark);
    padding-right: 4px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  #footer .follow i:hover,
  #footer a:hover,
  #apps:hover {
    color: var(--light);
  }
  
  #footer .copy {
    width: 100%;
    text-align: center;
  }
  /*footer end*/