*{
  margin: 0;
  padding: 0;
}

:root {
    --dark: rgb(20, 20, 20); 
    --light: rgb(244, 235, 208);
    --p1: rgb(241, 227, 164);
    --p2: rgb(231, 205, 120);
    --gold: rgb(222, 182, 75);
    --font: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font);
  scroll-behavior: smooth;
  background-color: rgb(231, 231, 231);
}

/*scroll bar start*/

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
}

/*scroll bar end*/

#all-content {
  max-width: 95vw;
  margin: auto;
}
/*Hearder and Navigation bar */

#nav-bar {
  width: 96%;
  padding: 0 2%;
  height: 60px;
  background-color: var(--p1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

#logo,
#options,
#ic_options {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

#nav-bar h1,
#anime i,
#nav-bar a,
#logo i{
  color: var(--dark);
  text-decoration: none;
  margin: 0 5px;
  font-size: 1rem;
  transition: 0.3s ease;
}

#logo i {
  font-size: 2.5rem;
}

#logo h1 {
  font-size: 1.5rem;
}

#options h1:hover,
#logo:hover i,
#anime i:hover,
#logo:hover h1 {
  color: white;
}

#ic_options {
  width: 20%;
  display: flex;
  justify-content: right;
}

.logo {
  width: 20%;
  display: flex;
  align-items: left;
}

.search_icon_con {
  width: 15px;
  padding: 5px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  align-items: center;
  background-color: none;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  transition: 0.5s ease-out;
}

#search_icon {
  position: absolute;
  transition: 0.5s ease-out;
  transform: none;
  z-index: 0;
}

#cross_icon {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transform: rotate(-135deg);
  transition: 0.5s ease-out;
}

#nav_search_id {
  height: 15px;
  opacity: 0;
  width: 0;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  transition: 0.5s ease-out;
}

/*Nav Bar Ends Here*/

#spacer {
  width: 100%;
  height: 70px;
}

/*Banner Start*/

#banner {
  height: 500px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

#banner-1 {
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url("images/hero.jpg");
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 40% right 0;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner_button_con {
  width: 105%;
  height: 100%;
  margin: auto;
  position: relative;
  left: -2.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease;
  cursor: pointer;
}

.banner-button {
  width: 50px;
  aspect-ratio: 1;
  background-color:rgba(255, 255, 255, 0.473);
  color: var(--dark);
  margin: 20px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s ease;
  z-index: 2;
}

#banner_button_con:hover {
  left: 0%;
  width: 100%;
}

#banner_button_con:hover .banner-button {
  opacity: 1;
}

.banner-button:hover {
  background-color:rgb(255, 255, 255);
}
/*Banners End*/

/*Testimonials Star*/

#testimonial_con {
  width: 100%;
  height: 350px;
  margin: 2% 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

#testimonial_con::-webkit-scrollbar {
  height: 0;
}

.testimonial {
  background-color: white;
  height: 340px;
  min-width: 900px;
  margin: auto 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test_person_id {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.test_img_con {
  height: 100px;
  aspect-ratio: 1;
  background-image: url(images/user.png);
  background-size: contain;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.test_stars_con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stars{
  width: 20px;
  aspect-ratio: 1;
  background-color: grey;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.golden {
  background-color: var(--gold);
}

.test_review_pr_name {
  width: 100%;
  height: fit-content;
}

.test_review_pr_name div {
  width: 80%;
  margin: 2% auto;
}

.test_review_pr_name div h2 {
  font-size: 1rem;
  margin-bottom: 5px;
}

#testimonial_2 h1 {
  transform: rotate(180deg);
  font-size: 110px;
  background-color: aqua;
}

.end_com_test {
  clip-path: polygon(50% 0%, 26% 33%, 41% 36%, 49% 57%, 40% 71%, 21% 77%, 7% 69%, 0 53%, 5% 34%, 29% 0);
  height: 100px;
  width: 100px;
  background-color: black;
}

.para_test {
  display: flex;
  position: relative;
}

span {
  font-size: 1rem;
  transform: scale(3);
}